<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>EventosApp</title>
</head>

<body>
	<h1>Cadastro de Eventos</h1>
	<form id="form-1" method="post">
		Nome: <input type="text" id="nome" name="nome" value=""/>
		Local: <input type="text" id="local" name="local" value=""/>
		Data: <input type="text" id="data" name="data" value=""/>
		Horário: <input type="text" id="horario" name="horario" value=""/>
		
		<button type="submit">Salvar</button>
		
	</form>

</body>

</html>
